div .notifContainer{
    display: flex;
    align-items: center;

    background-color:  hsl(211, 68%, 94%);
    
    padding: 10px 20px;
    border-radius: 8px;

    margin-bottom: 8px;

    gap: 0 15px;

    cursor: pointer;
}

.notifContainer img {
    width: 50px;
    height: 50px;
}

.notifContainer div .time {
    padding: 5px 0;
    font-size: 0.85rem;
}



div div p .notifDot {
    display: inline-block;
    width: 6px;
    height: 6px;

    border-radius: 50%;

    background-color:  hsl(1, 90%, 64%);
}

div div p {
    font-size: 16px;
    color: hsl(219, 12%, 42%);
}

div div p .notifName {
    color: hsl(224, 21%, 14%);

    font-weight: bolder;
}

div div p .event {
    color: hsl(226, 13%, 37%);

    font-weight: bolder;
}

.message {
    color: hsl(226, 13%, 37%);

    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;

    padding: 10px;
}

.notifContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}